<section class="section">
  <h2 class="visually-hidden">Advantages For The Best</h2>
  <div class="container advantages-container">
    <div class="activities-container">
      <ol class="activities-list">
        <li class="activity-item">
          <div class="activity-top">
          </div>
          <p class="activity-description">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="activity-item">
          <div class="activity-top">
          </div>
          <p class="activity-description">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="activity-item">
          <div class="activity-top">
          </div>
          <p class="activity-description">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>

        <li class="activity-item">
          <div class="activity-top">
          </div>
          <p class="activity-description">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <picture class="image-container">
      <source
        srcset="
          /img/advantages/adventages-pc2k.webp     1x,
          /img/advantages/adventages-pc2k-@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /img/advantages/adventages-pc.webp     1x,
          /img/advantages/adventages-pc-@2x.webp 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /img/advantages/adventages-tablet.webp     1x,
          /img/advantages/adventages-tablet-@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/advantages/adventages-mobile.webp     1x,
          /img/advantages/adventages-mobile-@2x.webp 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="/img/advantages/adventages-mobile.webp"
        alt="Luxury yacht interior"
        width="704"
        height="424"
      />
    </picture>
  </div>
</section>