<footer class="footer container">
  <div class="footer-container">
    <div class="footer-container-nav">
      <h2><a class="footer-logo" href="./index.html">yachtjet</a></h2>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#about">ABOUT</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#yahts">YACHTS</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#reviews">REVIEWS</a>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="footer-icons-list">
      <li class="footer-icons-item">
        <a
          class="footer-icons-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="nofollow noopener noreferrer"
          aria-label="Instagram GoIT"
          ><svg width="24" height="24" class="footer-icon">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icons-item">
        <a
          class="footer-icons-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="nofollow noopener noreferrer"
          aria-label="Youtube GoIT"
          ><svg width="24" height="24" class="footer-icon">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icons-item">
        <a
          class="footer-icons-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="nofollow noopener noreferrer"
          aria-label="Facebook GoIT"
          ><svg width="24" height="24" class="footer-icon">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer-text">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <div class="footer-disclaimer-container">
      <p class="footer-disclaimer">2023. Yacht Adventures</p>
      <a class="footer-disclaimer" href="./index.html">Privacy Police</a>
    </div>
  </div>
</footer>
