<header class="header container">
  <div class="header-wrapper">
    <a class="logo" href="./index.html">yachtjet </a>
    <nav class="header-nav">
      <a href="#about" class="header-link current">About</a>
      <a href="#yahts" class="header-link">Yachts</a>
      <a href="#reviews" class="header-link">Reviews</a>
    </nav>
    <ul class="social-links-list">
      <li class="social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="link-icon"
          target="_blank"
          rel="nofollow noopener noreferrer"
          aria-label="Instagram GoIT"
          ><svg class="icon" width="24" height="24">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="link-icon"
          target="_blank"
          rel="nofollow noopener noreferrer"
          aria-label="Youtube GoIT"
        >
          <svg class="icon" width="24" height="24">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="link-icon"
          target="_blank"
          rel="nofollow noopener noreferrer"
          aria-label="Facebook GoIT"
        >
          <svg class="icon" width="24" height="24">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      class="burger-btn"
      type="button"
      id="mobile-menu-open"
      aria-label="mobile menu open"
      data-menu-open
    >
      <svg class="burger-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <!--Mobile menu-->
  <div class="mobile-menu" data-menu>
    <div class="wrap">
      <div class="mobile-window-header">
        <a href="./index.html" class="logo mobile">yachtjet </a>
        <button
          class="burger-btn"
          type="button"
          id="mobile-menu-close"
          aria-label="mobile menu close"
          data-menu-close
        >
          <svg class="icon-close" width="28" height="28">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>

      <nav>
        <ul class="mobile-list">
          <li>
            <a class="mobile-link" href="#about">About</a>
          </li>
          <li>
            <a class="mobile-link" href="#yahts">Yachts</a>
          </li>
          <li>
            <a class="mobile-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>

      <ul class="social-links-list-modal">
        <li class="social-item-modal">
          <a
            href="https://www.instagram.com/goitclub/"
            class="icon-modal"
            target="_blank"
            rel="nofollow noopener noreferrer"
            aria-label="Instagram GoIT"
          >
            <svg class="icon-modal-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="icon-modal"
            target="_blank"
            rel="nofollow noopener noreferrer"
            aria-label="Youtube GoIT"
          >
            <svg class="icon-modal-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>

        <li class="social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="icon-modal"
            target="_blank"
            rel="nofollow noopener noreferrer"
            aria-label="Facebook GoIT"
          >
            <svg class="icon-modal-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
