<section class="section rent-yacht-section" id="rental">
  <div class="container rent-yacht-container">
    <div class="rent-wrap">
      <h2 class="rent-yacht-title">
        Rent a yacht now
      </h2>
      <form class="rent-yacht-form" name="rent-form" autocomplete="on">
        <label aria-label="Full Name"><input class="form-input" type="text" name="full-name" placeholder="Full Name"
            required></label>
        <label aria-label="Email"><input class="form-input" type="email" name="email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email" required></label>
        <label aria-label="Phone number"><input class="form-input" type="tel" name="phone-number"
            pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$" title="+xx-xxx-xxx-xx-xx" placeholder="Phone number"
            required></label>
        <label aria-label="Comment"><textarea class="form-textarea" name="comment"
            placeholder="Comment"></textarea></label>
        <button class="form-btn" type="submit">Send</button>
      </form>
    </div>
    <picture class="rent-picture" loading="lazy">
      <source srcset="
                            /img/rent-yacht/pc2k.webp  1x,
                            /img/rent-yacht/pc2k@2x.webp 2x
                            " media="(min-width: 1440px)" />
      <source srcset="
                            /img/rent-yacht/pc.webp    1x,
                            /img/rent-yacht/pc@2x.webp 2x
                          " media="(min-width: 1280px)" />
      <source srcset="
                            /img/rent-yacht/tabl.webp    1x,
                            /img/rent-yacht/tabl@2x.webp 2x
                          " media="(min-width: 768px)" />
      <source srcset="
                            /img/rent-yacht/mob.webp    1x,
                            /img/rent-yacht/mob@2x.webp 2x
                          " media="(max-width: 767px)" />
      <img class="rent-img" src="/img/rent-yacht/mob.webp" alt="LUXURY YAHTS" width="768" height="536" />
    </picture>
  </div>
</section>