<section class="section reviews-section" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it- read on to find out what they have to say about
      their journey with us.
    </p>
    <input type="radio" name="slider2" id="reviews1" checked />
    <input type="radio" name="slider2" id="reviews2" />
    <input type="radio" name="slider2" id="reviews3" />
    <ul class="customers-list">
      <li class="customers-item john">
        <img
          loading="lazy"
          srcset="/img/reviews/john.webp, /img/reviews/john@2x.webp 2x"
          class="customers-image"
          src="/img/reviews/john.webp"
         alt="photo john"
          width="56"
          height="56"
        />
        <h3 class="customers-title">John Wax</h3>
        <p class="text-cust">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="customers-item vica">
        <img
          loading="lazy"
          srcset="/img/reviews/vica.webp, /img/reviews/vica@2x.webp 2x"
          class="customers-image"
          src="/img/reviews/vica.webp"
          alt="photo vica"
          width="56"
          height="56"
        />
        <h3 class="customers-title">Victoria Romashenko</h3>
        <p class="text-cust">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="customers-item ihor">
        <img
          loading="lazy"
          srcset="/img/reviews/ihor.webp, /img/reviews/ihor@2x.webp 2x"
          class="customers-image"
          src="/img/reviews/ihor.webp"
          alt="photo ihor"
          width="56"
          height="56"
        />
        <h3 class="customers-title">Ihor Trachuk</h3>
        <p class="text-cust">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
    <div class="customers-slider-nav">
      <label for="reviews1"></label>
      <label for="reviews2"></label>
      <label for="reviews3"></label>
    </div>
  </div>
</section>
