.footer {
  padding: 0 10px;
}
.footer-container {
  background-color: #1b414b;
  border-radius: 24px 24px 0 0;
  position: relative;
  padding: 40px 30px 20px;
}
.footer-container {
  padding: 40px 10px 20px;
}
.footer-container-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.footer-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
}
.footer-nav-list {
  display: flex;
  gap: 4px;
}
.footer-nav-link {
  border-radius: 8px;
  min-width: 66px;
  min-height: 40px;
  background-color: rgba(251, 251, 251, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 9px;
  text-transform: uppercase;
  color: #fbfbfb;
}
.footer-nav-link:hover,
.ffooter-nav-link:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
.footer-icons-list {
  max-width: 88px;
  display: flex;
  gap: 8px;
  margin: 0 auto 40px;
}
.footer-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fbfbfb;
}
.footer-icons-link:hover,
.footer-icons-link:focus {
  fill: rgba(251, 251, 251, 0.8);
}
.footer-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fbfbfb;
  max-width: 277px;
  letter-spacing: -0.02em;
  margin: 0 auto 82px;
}
.footer-disclaimer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-disclaimer {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}
.footer-disclaimer-container a:hover,
.footer-disclaimer-container a:focus {
  color: #fbfbfb;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 16px;
  }
  .footer-container {
    padding: 50px 48px 20px;
  }
  .footer-container-nav {
    margin-bottom: 96px;
    justify-content: start;
    gap: 110px;
    align-items: baseline;
  }
  .footer-logo {
    font-size: 20px;
  }
  .footer-nav-link {
    width: 91px;
  }
  .footer-icons-list {
    position: absolute;
    top: 57px;
    right: 48px;
    margin-bottom: 0;
  }
  .footer-text {
    font-size: 32px;
    max-width: 610px;
    margin-bottom: 99px;
  }
  .footer-disclaimer-container {
    gap: 32px;
  }
  .footer-disclaimer {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 25px;
  }
  .footer-container {
    padding: 50px 75px 20px;
  }
  .footer-container-nav {
    gap: 330px;
  }
  .footer-icons-list {
    right: 75px;
  }
  .footer-text {
    max-width: 640px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-container-nav {
    gap: 409px;
  }
}
