button {
  padding: 0px;
}

.container-search-bar-nav {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0px;
  background-color: rgb(34, 33, 31);
}

.search-bar {
  display: flex;
  justify-content: space-between;
  /* gap: 1px; */
  align-items: center;
  text-align: center;
}

.searchInput {
  min-height: 46px;
  background-color: rgb(51, 53, 54) !important;
  border: none;
}

.search-btn {
  display: flex;
  padding: 12px 8px;
  background-color: rgb(51, 53, 54) !important;
  border: none;
}

.theme-toggle {
  min-height: 42px;
  padding: 0 10px;
  background-color: rgb(51, 53, 54) !important;
  border: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.main-nav-button {
  padding: 9px;
  background-color: rgb(88, 89, 90);
}

.tabs {
  display: flex;
  text-align: center;
  gap: 1px;
  justify-content: space-between;
}

.tab {
  padding: 9px;
  width: 50%;
  background-color: rgb(88, 89, 90);
}

.searchInput {
  border-radius: 3px;
  background-color: #e9d9d9dd;
  box-shadow: none;
  height: 30px;
  line-height: 36px;
}
